# Playground Project - Tang Nano 20K Constraints  
# Pin assignments for Gowin GW2A-LV18QN88C8/I7

# Clock input - 27MHz crystal
IO_LOC "clk" 4;
IO_PORT "clk" PULL_MODE=UP;

# Reset input - using onboard button 
IO_LOC "reset" 88;
IO_PORT "reset" PULL_MODE=UP;

# LED outputs - onboard LEDs
IO_LOC "led[0]" 15;
IO_LOC "led[1]" 16;
IO_LOC "led[2]" 17; 
IO_LOC "led[3]" 18;
IO_LOC "led[4]" 19;
IO_LOC "led[5]" 20;

# Test pin for scope/analyzer - using available GPIO
IO_LOC "test_pin" 25;