# HDMI Video Project - Tang Nano 20K Constraints  
# Pin assignments for Gowin GW2A-LV18PG256C8/I7
# Based on official Tang Nano 20K HDMI examples

# Clock input - 27MHz crystal
IO_LOC  "I_clk" 4;
IO_PORT "I_clk" IO_TYPE=LVCMOS33;

# Reset input - Button S2
IO_LOC  "I_rst" 88;
IO_PORT "I_rst" IO_TYPE=LVCMOS33 PULL_MODE=UP;

# Key input - Button S1 for pattern selection  
IO_LOC  "I_key" 87;
IO_PORT "I_key" IO_TYPE=LVCMOS33 PULL_MODE=UP;

# LED outputs for status indication
IO_LOC  "O_led[0]" 15;
IO_LOC  "O_led[1]" 16; 
IO_LOC  "O_led[2]" 17;
IO_LOC  "O_led[3]" 18;
IO_LOC  "O_led[4]" 19;
IO_PORT "O_led[0]" IO_TYPE=LVCMOS33 DRIVE=8;
IO_PORT "O_led[1]" IO_TYPE=LVCMOS33 DRIVE=8;
IO_PORT "O_led[2]" IO_TYPE=LVCMOS33 DRIVE=8;
IO_PORT "O_led[3]" IO_TYPE=LVCMOS33 DRIVE=8;
IO_PORT "O_led[4]" IO_TYPE=LVCMOS33 DRIVE=8;

# Running indicator LED
IO_LOC  "running" 20;
IO_PORT "running" IO_TYPE=LVCMOS33 DRIVE=8;

# HDMI differential outputs - Tang Nano 20K ELVDS pins
# These are the dedicated ELVDS pins for HDMI on Tang Nano 20K
# Based on official examples using ELVDS_OBUF primitives

# TMDS Clock differential pair - Using regular pins for testing
IO_LOC  "O_tmds_clk_p" 69;
IO_LOC  "O_tmds_clk_n" 70;
IO_PORT "O_tmds_clk_p" IO_TYPE=LVCMOS33 DRIVE=8;
IO_PORT "O_tmds_clk_n" IO_TYPE=LVCMOS33 DRIVE=8;

# TMDS Data Channel 0 (Blue) differential pair - Using regular pins for testing
IO_LOC  "O_tmds_data_p[0]" 71;
IO_LOC  "O_tmds_data_n[0]" 72;
IO_PORT "O_tmds_data_p[0]" IO_TYPE=LVCMOS33 DRIVE=8;
IO_PORT "O_tmds_data_n[0]" IO_TYPE=LVCMOS33 DRIVE=8;

# TMDS Data Channel 1 (Green) differential pair - Using regular pins for testing
IO_LOC  "O_tmds_data_p[1]" 73;
IO_LOC  "O_tmds_data_n[1]" 74;
IO_PORT "O_tmds_data_p[1]" IO_TYPE=LVCMOS33 DRIVE=8;
IO_PORT "O_tmds_data_n[1]" IO_TYPE=LVCMOS33 DRIVE=8;

# TMDS Data Channel 2 (Red) differential pair - Using regular pins for testing
IO_LOC  "O_tmds_data_p[2]" 75;
IO_LOC  "O_tmds_data_n[2]" 76;
IO_PORT "O_tmds_data_p[2]" IO_TYPE=LVCMOS33 DRIVE=8;
IO_PORT "O_tmds_data_n[2]" IO_TYPE=LVCMOS33 DRIVE=8;
