# Keyboard Project - Tang Nano 20K Constraints
# Pin assignments for Gowin GW2A-LV18PG256C8/I7

# Clock input - 27MHz crystal
IO_LOC  "clk" 4;
IO_PORT "clk" IO_TYPE=LVCMOS33;

# Reset input
IO_LOC  "reset" 88;
IO_PORT "reset" IO_TYPE=LVCMOS33 PULL_MODE=UP;

# Future expansion pins for keyboard interface:
# PS/2 clock and data, USB interface, etc.
# Will be added as the project develops

# Example placeholders for future keyboard interface:
# IO_LOC "ps2_clk" 69;
# IO_LOC "ps2_data" 70;
# IO_PORT "ps2_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
# IO_PORT "ps2_data" IO_TYPE=LVCMOS33 PULL_MODE=UP;
