# Tang Nano 9K constraint file for FPGA projects
# Pin assignments for Gowin GW1NR-LV9QN88PC6/I5

# Clock input - 27MHz crystal (Tang Nano 9K uses 27MHz)
IO_LOC "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

# RGB LED outputs (built-in LEDs)
IO_LOC "led_r" 18;
IO_LOC "led_g" 19;
IO_LOC "led_b" 20;
IO_PORT "led_r" IO_TYPE=LVCMOS33 DRIVE=8;
IO_PORT "led_g" IO_TYPE=LVCMOS33 DRIVE=8;
IO_PORT "led_b" IO_TYPE=LVCMOS33 DRIVE=8;

# PSRAM interface (external PSRAM on Tang Nano 9K) - placeholders
# IO_LOC "psram_clk" 59;
# IO_LOC "psram_cs_n" 60;
# IO_LOC "psram_sio[0]" 61;  # SIO0/MOSI
# IO_LOC "psram_sio[1]" 62;  # SIO1/MISO
# IO_LOC "psram_sio[2]" 63;  # SIO2/WP
# IO_LOC "psram_sio[3]" 68;  # SIO3/HOLD

# GPIO pins for debug/expansion (Tang Nano 9K) - placeholders
# IO_LOC "gpio[0]" 10;
# IO_LOC "gpio[1]" 11;
# IO_LOC "gpio[2]" 13;
# IO_LOC "gpio[3]" 14;
# IO_LOC "gpio[4]" 15;
# IO_LOC "gpio[5]" 16;

# HDMI interface (Tang Nano 9K specific)
# IO_LOC "hdmi_clk_p" 69;
# IO_LOC "hdmi_clk_n" 70;
# IO_LOC "hdmi_d0_p" 71;
# IO_LOC "hdmi_d0_n" 72;
# IO_LOC "hdmi_d1_p" 73;
# IO_LOC "hdmi_d1_n" 74;
# IO_LOC "hdmi_d2_p" 75;
# IO_LOC "hdmi_d2_n" 76;

# SPI Flash interface (usually not user accessible)
# IO_LOC "spi_cs" 60;
# IO_LOC "spi_clk" 59;
# IO_LOC "spi_mosi" 61;
# IO_LOC "spi_miso" 62;
